* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

::selection {
  color: var(--color-bright-100);
  background-color: var(--color-primary-300); }

html {
  width: 100%;
  color: var(--color-dark-400);
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-bright-400);
  -webkit-text-size-adjust: none; }

body {
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
  user-select: none;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("/public/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("/public/fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("/public/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/public/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("/public/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("/public/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
  src: url("/public/fonts/Open_Sans/OpenSans-BoldItalic.ttf"); }

#calendar {
  overflow: hidden;
  position: relative;
  height: 720px;
  background-color: #ff9dff;
  border: 1px solid black;
  box-sizing: content-box; }
