.grid {
  display: grid;
  grid-template-rows: repeat(12, calc(72rem / 12));
  grid-template-columns: 1fr;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--sw-color-black) 0%,
    var(--sw-color-black) 10rem,
    transparent 10rem,
    transparent 100%
  );
  z-index: 9999;
  pointer-events: none;

  &-item {
    color: var(--sw-color-white);
    padding-left: 6rem;
    border-bottom: 1px dashed var(--sw-color-black);
    box-sizing: content-box;
  }
}
