* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sw-color-white: #fff;
  --sw-color-black: #333;
}

html {
  width: 100%;
  color: var(--sw-color-black);
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--sw-color-white);
  -webkit-text-size-adjust: none;
}

body {
  overflow: hidden;
  max-width: 160rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  user-select: none;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
}
